<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>  <add name="CbooMainEntities" connectionString="metadata=res://*/CbooMainModel.csdl|res://*/CbooMainModel.ssdl|res://*/CbooMainModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;password=gabry.zhong;database=cboo_main&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>