<?xml version="1.0"?>
<configuration>
  <connectionStrings> 
  <add name="CbooMainEntities" connectionString="metadata=res://*/Data.CbooMainModel.csdl|res://*/Data.CbooMainModel.ssdl|res://*/Data.CbooMainModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;password=gabry.zhong;database=cboo_main&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
