<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CbooEntities" connectionString="metadata=res://*/Data.CbooModel.csdl|res://*/Data.CbooModel.ssdl|res://*/Data.CbooModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Allow Zero Datetime=true;Persist Security Info=True;password=gabry.zhong;database=cboo&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>